<section class="tiles">
	<article class="style1">
		<span class="image">
			<img src="images/ocean.jpg" alt="" />
		</span>
		<a href="/Lab.html">
			<h2>About the lab</h2>
			<div class="content">
				<p>Lab philosophy, culture and relationship with other communities.</p>
			</div>
		</a>
	</article>
	<article class="style2">
		<span class="image">
			<img src="images/emi.jpg" alt="" />
		</span>
		<a href="/People.html">
			<h2>People</h2>
			<div class="content">
				<p>Lab members: present, past and future</p>
			</div>
		</a>
	</article>
	<article class="style3">
		<span class="image">
			<img src="images/ImageTalk.jpg" alt="" />
		</span>
		<a href="/research.html">
			<h2>Research</h2>
			<div class="content">
				<p>Current projects and reserach interests.</p>
			</div>
		</a>
	</article>
	<article class="style2">
		<span class="image">
			<img src="images/Experiment.png" alt="" />
		</span>
		<a href="/Publications.html">
			<h2>Publications</h2>
			<div class="content">
				<p>  </p>
			</div>
		</a>
	</article>
	<article class="style3">
		<span class="image">
			<img src="images/yosemite.jpg" alt="" />
		</span>
		<a href="/PI.html">
			<h2>PI (Dr. María Rebolleda-Gómez)</h2>
			<div class="content">
				<p>A little bit more about me.</p>
			</div>
		</a>
	</article>
	<article class="style1">
		<span class="image">
			<img src="images/yeast.jpg" alt="" />
		</span>
		<a href="/join.html">
			<h2>Join!</h2>
			<div class="content">
				<p></p>
			</div>
		</a>
	</article>
</section>
	
	